<div class="flight_wrapper">
<h1>{{ pilot.name }} <span>{{ flight.date | date("Y-m-d") }}</span></h1>
{{ flight_info }}
</div>

{% if flight.did > 1 %}
    <script>
        var load_callback = load_callback || [];
        load_callback.push(function() {
            var graph = new Graph($("#graph-{{ flight._id }}"));
            var flight = new Track({{ flight._id }});
            flight.add_nxcl_data(function() {graph.swap(flight)});
            map.callback(function(map) {map.add_flight({{ flight._id }})})
        });
    </script>
{% endif %}