<table class="main">
    <tr>
        <td class="left">Flight ID</td>
        <td>{{ flight._id }}</td>
    </tr>
    <tr>
        <td class="left">Glider</td>
        <td>{{ flight.manufacturer_title }} - {{ glider.name }}</td>
    </tr>
    <tr>
        <td class="left">Club</td>
        <td>{{ club.title }}</td>
    </tr>
    <tr>
        <td class="left">Defined</td>
        <td>{{ flight.defined ? 'Yes' : 'No' }}</td>
    </tr>
    <tr>
        <td class="left">Launch</td>
        <td>{{ flight.lid }}</td>
    </tr>
    <tr>
        <td class="left">Type</td>
        <td>{{ flight.ftid }}</td>
    </tr>
    <tr>
        <td class="left">Ridge Lift</td>
        <td>{{ flight.ridge ? 'Yes' : 'No' }}</td>
    </tr>
    <tr>
        <td class="left">Score</td>
        <td>{{ flight.base_score }}x{{ flight.multi }} = {{ flight.score }}</td>
    </tr>
    <tr>
        <td class="left">Coordinates</td>
        <td>
            <table class="main">
                <thead>
                <tr>
                    <th class="left">Lat</th>
                    <th class="left">Lng</th>
                    <th class="left">OS</th>
                </tr>
                </thead>
                {% for coordinate in coordinates %}
                    <tr>
                        <td class="left">{{ coordinate.lat | number_format(6) }}</td>
                        <td class="left">{{ coordinate.lng | number_format(6) }}</td>
                        <td class="left">{{ coordinate.os }}</td>
                    </tr>
                {% endfor %}
            </table>
        </td>
    </tr>
    {% if timings.launched %}
        <tr>
            <td class="left">Launched@</td>
            <td>{{ timings.launched | date('H:i:s') }}</td>
        </tr>
        <tr>
            <td class="left">Landed@</td>
            <td>{{ timings.launched | date('H:i:s') }}</td>
        </tr>
        <tr>
            <td class="left">Duration@</td>
            <td>{{ (timings.landed - timings.launched) | date('H:i:s') }}</td>
        </tr>
    {% endif %}
    {% if flight.vis_info %}
        <tr>
            <td class="left">Info</td>
            <td>{{ flight.vis_info }}</td>
        </tr>
    {% endif %}
    {% if files.igc or files.kml %}
        <tr>
            <td class="center view" colspan="2">
                <a class="button" href="#" onclick='map.add_flight({{ flight._id }})'>Add trace to Map</a>
            </td>
        </tr>
        <tr>
            <td class="center" colspan="2">
                <a class="download igc" href="{{ files.igc }}" rel="external" download>Download IGC</a>
                <a class="download kml" href="{{ files.kml }}" rel="external" download>Download KML</a>
            </td>
        </tr>
    {% else %}
        <td class="center view coords" colspan="2">
            <a class="button" href="#" onclick='map.add_flight_coordinates("{{ flight.coords }}",{{ flight.fid }});return false;'>Add coordinates to Map</a>
        </td>
    {% endif %}
</table>
<a class="close" title='close' onclick='$("#pop").remove()'>Close</a>
