<div id="list_wrapper">
    {% for article in articles %}
        <article id="article{{ article._id }}" class="callout callout-primary">
            <div class="title">
                <span class="date">{{ article.date | date("Y/m/d") }}</span>
                <strong class="name">{{ article.title }}</strong>
                <span class="author">By: {{ article.poster }}</span>
            </div>
            <div class="content editable_content">
                {{ article.snippet ?: article.post }}
                <a class="button" href="{{ article._url }}">Read more</a>
                </div>
        </article>
    {% endfor %}
    <div id="article_wrapper"></div>
</div>